
    <div class="post-entry">
        <a href="#">
          <img src="assets/images/img_1.jpg" alt="Image" class="img-fluid">
        </a>
        <div class="caption">
          <div class="caption-inner">
            <h3 class="col-md-3">Romolu to stay at Real Nadrid?</h3>
            <div class="author d-flex align-items-center">
              <div class="text">
                <h4 >{{x.name}}</h4>
                <h4 >{{x.age}}</h4>
                <h4 >{{x.position}}</h4>
                <h4 >{{x.number}}</h4>
              </div>
            </div>
          </div>
        </div> 
      </div>
 
