<app-banner banner="All Players"></app-banner>

<div class="post-entry" style="margin-left: 100px">
    <a href="#">
      <img src="assets/images/img_1.jpg" alt="Image" class="img-fluid" style="width: 300px;" >
    </a>
    <div class="caption">
      <div class="caption-inner">
        <div class="author d-flex align-items-center">
          <div class="text">
            <h4 >{{player.name}}</h4>
            <h4 >{{player.age}}</h4>
            <h4 >{{player.position}}</h4>
            <h4 >{{player.number}}</h4>
          </div>
        </div>
      </div>
    </div> 
  </div>

