<div class="post-entry" style="margin-top: 10px;">
  
    <div class="caption">
        <div class="caption-inner">
            
            <div class="author d-flex align-items-center">
                <div class="img mb-2 mr-3">
                    <img src="assets/images/img_1.jpg" alt="" style="margin-top: 20px; width: 200px;">
                </div>
                <div class="text">
                    <h4>{{team.name}}</h4>

                    <h4>{{team.foundation}}</h4>

                    <h4>{{team.stadium}}</h4>

                    <span>{{team.owner}}</span>
                </div>
            </div>
        </div>
    </div>
</div>